# IDE - manter apenas configurações úteis para a equipe
.idea/*
!.idea/compiler.xml
!.idea/misc.xml
!.idea/modules.xml
!.idea/runConfigurations/
*.iml
*.iws

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Java
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# OS
.DS_Store
Thumbs.db