server:
  port: 8081

spring:
  application:
    name: hospitech-schedule-api
  
  datasource:
    url: jdbc:h2:mem:scheduledb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

jwt:
  secret: mySecretKeyForHospitech2024SuperSecure256BitsKey
  expiration: 86400000

logging:
  level:
    serviceschedule_api.fiap.serviceschedule_api: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics