server:
  port: 8083

spring:
  application:
    name: hospitech-notify-api
  
  datasource:
    url: jdbc:h2:mem:notifydb
    driver-class-name: org.h2.Driver
    username: sa
    password: 
  
  h2:
    console:
      enabled: true
      path: /h2-console
  
  jpa:
    hibernate:
      ddl-auto: create-drop
    show-sql: true
  
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
  
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME:test@gmail.com}
    password: ${MAIL_PASSWORD:password}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

  jwt:
    secret: mySecretKeyForHospitech2024SuperSecure256BitsKey
    expiration: 86400000

logging:
  level:
    servicenotify_api.fiap: DEBUG

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  health:
    mail:
      enabled: false